
.page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 1.5rem;
}


.sidebar {
    width: 260px;
    height: 100vh;
    position: sticky;
    top: 0;
    background: #43536a;
    color: #e2e8f0;
    border: 1px solid #43536a;
}


.top-row {
    min-height: 3.5rem;
    background: #1e293b;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.navbar-brand {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}


@media (min-width:768px) {

    .page {
        flex-direction: row;
    }
}

@media (max-width:767px) {

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
}
