<div class="navbar navbar-dark px-0" style="border-radius: 0px 0px 6px 6px; padding: 8px 0px;background-color: #ffffff; border: 1px solid #1e293b;">
    <div class="container-fluid d-flex align-items-center" style="justify-content: flex-start;gap: 16px;">

        <img src="/default/logo.png" alt="logo" style="height: 45px;width: 45px;object-fit: cover;">

        <a class="navbar-brand fw-bold m-0" href="#">
            StaffSphere
        </a>

    </div>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">

    <nav class="nav flex-column">

        <div class="menu-title px-2 mt-2">MAIN</div>

        <div class="nav-item px-0 mb-2">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-dashboard-nav-menu"></span>
                <span>Dashboard</span>
            </NavLink>
        </div>

        <div class="nav-item px-0 mb-2">
            <NavLink class="nav-link" href="employees">
                <span class="bi bi-employees-nav-menu"></span>
                <span>Employees</span>
            </NavLink>
        </div>

        <div class="nav-item px-0 mb-2">
            <NavLink class="nav-link" href="departments">
                <span class="bi bi-departments-nav-menu"></span>
                <span>Departments</span>
            </NavLink>
        </div>


        <div class="menu-title px-2 mt-2">MANAGEMENT</div>
        <hr />
        <div class="nav-item px-0 mb-2">
            <NavLink class="nav-link" href="attendance">
                <span class="bi-list-nested-nav-menu"></span>
                <span>Attendance</span>
            </NavLink>
        </div>


        <div class="menu-title px-2 mt-2">SYSTEM</div>
        <hr />
        <div class="nav-item px-0 mb-2">
            <NavLink class="nav-link" href="settings">
                <span class="bi bi-settings-nav-menu"></span>
                <span>Settings</span>
            </NavLink>
        </div>

    </nav>
</div>